body {
    width: 100%;
    background-color: gray;
    align-content: center;
    position: center;
}

.container {
    width: 450px;
    height: 200px;
    background-color: white;
    align-content: center;
    position: center;
    align-self: center;
}
button {
    background-color: black;
    color: white;
    padding: 5px;
    align-self: center;
}
button :hover {
    background-color: aliceblue;
}